:root {
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(8, 8, 8, 1);
  --cod-gray-2: rgba(9, 9, 9, 1);
  --blue: rgba(38, 72, 250, 1);
  --blue-2: rgba(39, 73, 251, 1);
  --storm-dust: rgba (99, 98, 98, 1);
  --malibu: rgba(107, 184, 255, 1);
  --star-dust-2: rgba(156, 156, 156, 1);
  --star-dust: rgba(159, 159, 159, 1);
  --white: rgba(255, 255, 255, 1);
  --font-size-xxxxS: 20px;
  --font-size-xxxs: 20.5px;
  --font-size-xxs: 24px;
  --font-size-xs: 26px;
  --font-size-s: 32px;
  --font-size-m: 40px;
  --font-size-l: 48px;
  --font-family-poppins: "Poppins";
}

body {
  background: black;
  color: var(--star-dust-2);
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: var(--font-family-poppins);
  position: relative;
}

main {
  height: 1800px;
}

.blue {
  width: 474px;
  height: 474px;
  background: linear-gradient(
    180deg,
    #2749fb 175.94%,
    rgba(0, 0, 0, 0) 194.39%
  );
  filter: blur(200px);
  transform: matrix(0, 1, 1, 0, 0, 0);
  position: absolute;
  border-radius: 50%;
  top: -104px;
  left: -56px;
  z-index: 0;
}

.lightblue {
  width: 273px;
  height: 273px;
  background: linear-gradient(
    180deg,
    #6bb8ff 95.92%,
    rgba(255, 255, 255, 0) 221.79%
  );
  filter: blur(100px);
  transform: matrix(0, 1, 1, 0, 0, 0);
  position: absolute;
  border-radius: 50%;
  top: 123px;
  left: -35px;
  z-index: 0;
}

.header {
  width: 80%;
  height: 100px;
  margin: auto;
  display: flex;
  font-size: 22px;
  font-weight: 200;
  line-height: 20.8px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: relative;
  z-index: 1;
}

.time {
  width: 185px;
  margin: auto;
  height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-wrapper {
  width: 100%;
  position: absolute;
  bottom: 50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease; /* Added smooth transition */
}

.nav {
  width: 20%;
  height: 19px;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--star-dust-2);
  justify-content: space-between;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.nav-item {
  text-decoration: none;
  color: inherit;
}

.nav-item.active {
  color: white;
  font-weight: 300;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 100px;
  margin: auto;
  z-index: 10;
  background-color: black;
  transition: bottom 0.3s, transform 0.3s ease-in;
}

.home {
  cursor: pointer;
}

.gallery {
  color: var(--star-dust-2);
  cursor: pointer;
}

.contact {
  color: var(--star-dust-2);
  cursor: pointer;
}

.top {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 110px;
}

.border {
  width: 72%;
  height: auto;
  border: solid 1px white;
  margin-top: 24px;
  margin-bottom: 24px;
}

.HelloIMJonathan {
  color: white;
  font-size: 64px;
  font-weight: 600;
  line-height: 73.28px;
  word-wrap: break-word;
}

.name1 {
  color: #2f4dae;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.right,
.left {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  margin-left: 24px;
}

.left {
  width: 100%;
  height: auto;
  margin-left: 80px;
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

.right {
  margin-top: 110px;
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}

.home {
  cursor: pointer;
  color: var(--star-dust-2);
}

.gallery {
  color: var(--star-dust-2);
  cursor: pointer;
}

.contact {
  color: white;
  cursor: pointer;
}
.summary {
  font-size: 24px;
  font-weight: 100;
  width: 620px;
  height: auto;
  color: white;
}

.contactme {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 225px;
}

#contact-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  transform: rotate(-360deg);
  bottom: 140px;
}

.contact-icon {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: solid 2px #c1c1c135;
  border-radius: 50%;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.contact-icon:hover {
  transform: scale(1.3);
}

.contact-icon i {
  font-size: 60px;
  color: white;
}

#email {
  font-size: 90px;
}

#center-icon {
  top: 24%;
  left: 31%;
  width: 240px;
  background-color: rgb(121, 121, 121);
  height: 240px;
  opacity: 25%;
  z-index: 1;
}

#center-icon:hover {
  transform: scale(1.3);
  opacity: 100%;
  z-index: 2;
}

.twitter {
  background: #1da1f2;
  top: 43%;
  left: 68px;
  width: 136px;
  height: 136px;
  opacity: 20%;
  z-index: 0;
}

#twitter {
  font-size: 68px;
}

.twitter:hover {
  opacity: 100%;
  z-index: 2;
}

.telegram {
  background: #0088cc;
  top: 5%;
  width: 155px;
  height: 155px;
  left: 46%;
  opacity: 20%;
}

#telegram {
  font-size: 80px;
}

.telegram:hover {
  opacity: 100%;
  z-index: 2;
}

.dribbble {
  background: #ff3e86;
  top: 8%;
  width: 180px;
  height: 180px;
  left: 64px;
  opacity: 20%;
}

#dribbble {
  font-size: 90px;
}

.dribbble:hover {
  opacity: 100%;
  z-index: 2;
}

.linkedin {
  background: #2d64bc;
  top: 28%;
  width: 155px;
  height: 155px;
  right: 19px;
  opacity: 20%;
}

#linkedin {
  font-size: 70px;
}

.linkedin:hover {
  opacity: 100%;
  z-index: 2;
}

.discord {
  background: #6e59ef;
  bottom: 17%;
  width: 110px;
  height: 110px;
  left: 33%;
  opacity: 20%;
}

#discord {
  font-size: 48px;
}

.discord:hover {
  opacity: 100%;
  z-index: 2;
}

.calendly {
  background: #1bffbd;
  bottom: 19%;
  width: 132px;
  height: 132px;
  left: 58%;
  opacity: 20%;
}

.calendly:hover {
  opacity: 100%;
  z-index: 2;
}

h2 {
  position: relative;
  width: 100%;
  height: 96px;
  margin: auto;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  margin-top: 330px;
  line-height: 96px;
  display: flex;
  color: #0a0a0a;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  border-top: 1px solid var(--star-dust);
  width: 80%;
  height: 100px;
  font-size: 20px;
  margin: auto;
  display: flex;
  font-size: 22px;
  line-height: 20.8px;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: relative;
  z-index: 1;
}

.colors {
  width: 104px;
  height: 4px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    90deg,
    #ffffff 33.73%,
    #2749fb 30.81%,
    #3c6bfc 70.35%,
    #6bb8ff 70.4%
  );
}

/* Media query for mobile devices */
@media screen and (max-width: 990px) {
  .header {
    font-size: 16px;
    line-height: 24px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .nav {
    width: 30%;
    font-size: 12px;
  }

  footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .top {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  main {
    height: 1400px;
  }

  .topnav {
    font-size: 12px;
  }

  .right,
  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .right {
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .time {
    width: 75px;
  }
  .nav {
    width: 40%;
  }

  .location {
    font-size: 12;
  }
  .header-nav-container {
    margin: auto;
    align-items: center;
  }

  .HelloIMJonathan {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 42.28px;
    word-wrap: break-word;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .border {
    width: 80%;
    margin: auto;
  }

  .summary {
    width: 80%;
    height: auto;
    font-size: 12px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .contactme {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    left: 0%;
  }

  h2 {
    color: #1c1c1c;
    font-size: 48px;
    margin-top: 100px;
  }

  #contact-icons {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
    transform: rotate(-360deg);
    bottom: 140px;
  }

  .contact-icon:hover {
    transform: scale(1.3);
  }

  .contact-icon i {
    font-size: 38px;
    color: white;
  }

  #center-icon {
    top: 24%;
    left: 31%;
    width: 128px;
    background-color: rgb(121, 121, 121);
    height: 128px;
    opacity: 100%;
    z-index: 1;
  }

  #email {
    font-size: 54px;
  }

  #center-icon:hover {
    transform: scale(1.3);
    opacity: 100%;
    z-index: 2;
  }

  .twitter {
    background: #1da1f2;
    top: 40.5%;
    left: 62px;
    width: 70px;
    height: 70px;
    opacity: 100%;
    z-index: 0;
  }

  #twitter {
    font-size: 32px;
  }

  .telegram {
    background: #258be7;
    top: 5%;
    width: 82px;
    height: 82px;
    left: 48%;
    opacity: 100%;
  }
  #telegram {
    font-size: 42px;
  }

  .dribbble {
    background: #ff3e86;
    top: 8%;
    width: 105px;
    height: 105px;
    left: 58px;
    opacity: 100%;
  }
  #dribbble {
    font-size: 48px;
  }

  .linkedin {
    background: #2d64bc;
    top: 24%;
    width: 87px;
    height: 87px;
    right: 34px;
    opacity: 100%;
  }

  #linkedin {
    font-size: 40px;
  }

  .discord {
    background: #6e59ef;
    bottom: 24%;
    width: 67px;
    height: 67px;
    left: 34%;
    opacity: 100%;
  }

  #discord {
    font-size: 32px;
  }

  .calendly {
    background: #1bffbd;
    bottom: 26%;
    width: 78px;
    height: 78px;
    left: 57%;
    opacity: 100%;
  }

  .calendly:hover {
    opacity: 100%;
    z-index: 2;
  }
}
