:root {
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(8, 8, 8, 1);
  --cod-gray-2: rgba(9, 9, 9, 1);
  --blue: rgba(38, 72, 250, 1);
  --blue-2: rgba(39, 73, 251, 1);
  --storm-dust: rgba (99, 98, 98, 1);
  --malibu: rgba(107, 184, 255, 1);
  --star-dust-2: rgba(156, 156, 156, 1);
  --star-dust: rgba(159, 159, 159, 1);
  --white: rgba(255, 255, 255, 1);
  --font-size-xxxxS: 20px;
  --font-size-xxxs: 20.5px;
  --font-size-xxs: 24px;
  --font-size-xs: 26px;
  --font-size-s: 32px;
  --font-size-m: 40px;
  --font-size-l: 48px;
  --font-family-poppins: "Poppins";
}

body {
  background: black;
  color: var(--star-dust-2);
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: var(--font-family-poppins);
  position: relative;
}

main {
  height: 3300px;
}

.header {
  width: 80%;
  height: 100px;
  margin: auto;
  font-weight: 200;
  display: flex;
  font-weight: 200;
  font-size: 22px;
  line-height: 20.8px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: relative;
  z-index: 1;
}

.time {
  width: 185px;
  margin: auto;
  height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 200px;
  justify-content: space-between;
}

.sidebar {
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 280px;
}

.awaydesign {
  transform: rotate(-90deg);
  white-space: nowrap;
  color: #323232;
  font-size: 24px;
  margin-top: 118px;
}

.hero-border {
  width: 280px;
  transform: rotate(-90deg);
  border: 1px #4d6ac8 solid;
}

.hero-images {
  position: absolute;
  text-align: left;
}

.background-me {
  width: 670px;
  height: auto;
  padding-left: 83px;
  text-align: left;
}

.avatar {
  position: absolute;
  left: 132px;
  top: 120px;
}

.titles {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: right;
  right: 358px;
}

.bold-name {
  font-size: 136px;
  font-weight: 600;
  color: #17181ac4;
  margin-bottom: 0px;
}

.light-name {
  white-space: nowrap;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: -75px;
  margin-bottom: 24px;
}

.job-title {
  color: var(--star-dust-2);
  font-size: 24px;

  white-space: nowrap;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  align-items: flex-end;
  color: white;
  top: 248px;
  gap: 36px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #9f9f9f solid;
  border-radius: 32px;
  height: 32px;
  width: 32px;
}

.hero-images,
.sidebar {
  animation: 0.75s ease-in-out 0s 1 slideInFromLeft;
}
.socials,
.titles {
  animation: 0.75s ease-in-out 0s 1 slideInFromRight;
}

.socials {
  animation: 0.9s ease-in-out 0s 1 slideInFromRight;
}

.border {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  top: 735px;
  border-top: 1px solid #202020;
}

.creativity {
  width: 80%;
  margin: auto;
  color: #161616;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 797px;
}

.part-one,
.part-two {
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 49px;
  white-space: nowrap;
}

.part-one {
  color: var(--star-dust-2);
  opacity: 0;
}

.part-two {
  color: var(--star-dust-2);
  opacity: 0;
}

.animate-from-left {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  opacity: 1;
}

.animate-from-right {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
  opacity: 1;
}

.journey {
  color: white;
  font-weight: 300;

  font-style: normal;
}

.borderbottom {
  position: relative;
  width: 80%;
  margin: auto;
  top: 865px;
  border-top: 1px solid #202020;
}

.nav-wrapper {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease; /* Added smooth transition */
}

.nav {
  width: 20.5%;
  height: 19px;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--star-dust-2);
  justify-content: space-between;

  transition: all 0.3 ease-in-out;
}

.nav-item {
  text-decoration: none;
  color: inherit;
}

.nav-item.active {
  color: white;
  font-weight: 300;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 100px;
  margin: auto;
  z-index: 10;
  background-color: black;
  transition: bottom 0.3s, transform 0.3s ease-in;
}

.home {
  cursor: pointer;
}

.gallery {
  color: var(--star-dust-2);
  cursor: pointer;
}

.contact {
  color: var(--star-dust-2);
  cursor: pointer;
}

.production {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 1080px;
  font-size: 32px;
  color: white;
  font-style: normal;
  font-weight: var(--font-size-m);
}

.selected {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--star-dust-2);
  position: relative;
  top: 1085px;
  font-size: 20.5px;
  font-style: normal;
  font-weight: 200;
}

.projects-container {
  width: 80%;
  margin: auto;
  top: 1150px;
  position: relative;
  align-items: center;
  color: white;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
}

.project {
  flex-basis: calc(50% - 35px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.project img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 60%;
  transition: all 0.2s ease;
  border-radius: 16px;
}

.project img:hover {
  transform: scale(1.05);
  opacity: 100%;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.title {
  font-size: 24px;
  font-weight: 200;
  font-family: var(--font-family-poppins);
  color: #ededed;
  margin: 12px;
}

.button {
  text-decoration: none;
  background-color: black;
  width: 60px;
  height: auto;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 12px;
  /* border: 1px solid #161616; */
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.button-gallery {
  display: none;
}

.button:hover {
  background-color: #0a0a0a;
  border: none;
}

.mintgolddust:hover,
.jutsu:hover,
.deepai:hover {
  background-color: black;
}

h2 {
  position: absolute;
  width: 100%;
  height: 96px;
  margin: auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px;
  display: flex;
  color: #0a0a0a;
  align-items: center;
  text-align: center;
  top: 3300px;
  justify-content: center;
}

footer {
  border-top: 1px solid var(--star-dust);
  width: 80%;
  height: 100px;
  font-size: 20px;
  margin: auto;
  display: flex;
  font-size: 22px;
  line-height: 20.8px;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: relative;
  z-index: 1;
}

.colors {
  width: 104px;
  height: 4px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    90deg,
    #ffffff 33.73%,
    #2749fb 30.81%,
    #3c6bfc 70.35%,
    #6bb8ff 70.4%
  );
}

.date {
  width: 85px;
  margin: auto;
  height: 22px;
  white-space: nowrap;
  display: inline;
  align-items: center;
  text-align: center;
}

/* Animations time frames */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .project {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .part-one,
  .part-two {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 990px) {
  main {
    height: 3500px;
  }
  .productdesigner {
    font-size: 36px;
    line-height: 42px;
  }

  .header {
    font-size: 16px;
    line-height: 24px;
  }

  .production {
    font-size: 24px;
  }

  .selected {
    font-size: 16.5px;
  }

  .nav {
    width: 30%;
    font-size: 12px;
  }

  .time {
    width: 125px;
  }

  .title {
    font-size: 18px;
  }

  .projects-container {
    margin-bottom: 24px;
  }

  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    top: 3500px;
  }

  footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  main {
    height: 2900px;
  }

  .nav {
    width: 40%;
  }

  .topnav {
    font-size: 12px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  .hero-images {
    top: 180px;
    left: 0px;
  }
  .background-me {
    width: 350px;
    padding-left: 12px;
  }

  .avatar {
    width: 72px;
    height: auto;
    top: 24px;
    left: 84px;
  }

  .sidebar {
    display: flex;
    width: 90px;
    flex-direction: column;
    left: 0px;
    gap: 192px;
    margin-bottom: 12px;
    align-items: center;
  }

  .awaydesign {
    transform: rotate(-90deg);
    white-space: nowrap;
    color: #323232;
    font-size: 12px;
    margin-top: 80px;
  }

  .hero-border {
    width: 300px;
    transform: rotate(-90deg);
    border: 0.5px #4d6ac8 solid;
  }

  .titles {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: right;
    right: 42px;
  }

  .bold-name {
    font-size: 32px;
    font-weight: 600;
    color: #17181ac4;
    margin-bottom: 0px;
  }

  .light-name {
    white-space: nowrap;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 16px;
  }

  .job-title {
    color: var(--star-dust-2);
    font-size: 12px;
  }
  .socials {
    display: none;
  }

  .hero-images,
  .sidebar {
    animation: 0.75s ease-in-out 0s 1 slideInFromLeft;
  }
  .socials,
  .titles {
    animation: 0.75s ease-in-out 0s 1 slideInFromRight;
  }

  .socials {
    animation: 0.9s ease-in-out 0s 1 slideInFromRight;
  }

  .project img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 100%;
    transition: all 0.2s ease;
    border-radius: 16px;
  }

  .designer {
    font-size: 12px;
    font-weight: 200;
  }

  .creativity {
    width: 80%;
    height: auto;
  }
  .part-one,
  .part-two {
    font-size: 20px;
  }

  .button-gallery {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #121212;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    margin-top: 48px;
    text-decoration: none;
    font-family: var(--font-family-poppins);
    font-weight: 500;
    color: white;
    transition: background-color 0.4s ease;
  }

  .button-gallery::after {
    background-color: #3c6bfc;
  }

  .time {
    width: 75px;
  }
  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    top: 2900px;
  }

  .production {
    font-size: 18px;
  }

  .selected {
    font-size: 12px;
  }
}
